body {
    background-color: #141414;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e50914;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 300px;
}

button {
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #e50914;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f40612;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.movie-card {
    background-color: #333;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s;
    cursor: pointer;
}

.movie-card img {
    width: 100%;
    border-radius: 10px;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-info {
    text-align: center;
}

.movie-title {
    font-size: 1.2em;
    margin: 10px 0;
}

.movie-genres,
.movie-votes {
    font-size: 0.9em;
}

.trailer-button {
    background-color: #e50914;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    padding: 10px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.trailer-button:hover {
    background-color: #f40612;
}
